<table class="styled-table">
    <thead>
        <tr>
            <th>Nome Condominio</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Rua</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let condominio of listaCondominio">
            <td>{{ condominio.nome }}</td>
            <td>{{ condominio.endereco.cidade }}</td>
            <td>{{ condominio.endereco.estado }}</td>
            <td>{{ condominio.endereco.rua }}</td>
            <td><button (click)="listarApartamentos(condominio.id)">aperta</button></td>
        </tr>
    </tbody>
</table>
