

<div style="display: flex; justify-content: center;">
  <div style="width: 600px; ">

  <form>
    <mat-card style="margin: 20px;">
      <mat-card-header class="">
        <h2>Criar Apartamento</h2>
      </mat-card-header>
      <mat-card-content style="display: flex; flex-direction: column;" >
        <mat-form-field>
          <mat-label>Nome do Condominio</mat-label>
          <input matInput placeholder="Número Apartamento" formControlName="">
        </mat-form-field>

    <h3>Endereço  </h3>

    <mat-form-field>
      <mat-label>Rua</mat-label>
      <input matInput placeholder="Nome da Rua">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input matInput placeholder="Nome da Cidade">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <input matInput placeholder="Nome de Estado">
    </mat-form-field>

    <mat-form-field>
      <mat-label>CEP</mat-label>
      <input matInput placeholder="Número do CEP">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pais</mat-label>
      <input matInput placeholder="Informe o pais">
    </mat-form-field>

    <div style="display: flex; justify-content: space-between; width: 200px;">
      <button mat-flat-button color="primary">Enviar</button>
      <button mat-flat-button color="warn">Cancelar</button>
    </div>

      </mat-card-content>
    </mat-card>
  </form>
  </div>
</div>
